# ignore cached and compiled python code
**__pycache__
*.pyc

# ignore job output directories
run/jobs*

# ignore the currently selected sample lists
run/samples/*.yaml
run/samples/*.conf

# ignore output folders
**output_*
